* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
 }

/* Modal */
.modal{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgba(245, 245, 245, 0.824);
    visibility: hidden;
    position: fixed;
    top : 4rem;
    right: .7rem;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
    z-index: 100;
    padding: 1rem;
} 
  
  /* hacer visible el modal  */
.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
} 
.tituloCarrito{
    display: flex;
    justify-content: space-between;
}
#artPedidosContenedor div{
    margin: .5rem ;
    display: flex;
    align-items: center;
    border-bottom: solid 1px grey;
    padding-bottom: 1rem;

}
#artPedidosContenedor div>*{
 flex: 1 0 0;
}
#artPedidosContenedor div button{
    background-color: transparent;
    border: none;
}
#artPedidosContenedor div button img:hover{
    border-radius: 5px;
    border: solid 1px #ba9f1b;
    background-color: #cfbb53d8;
}
#totales>*{
    font-size: 1rem;
    text-align: end;
}
#vaciarCarrito{
    font-size: 1rem;
    padding: .2rem;
    background-color: whitesmoke;
    border-radius: .7rem;
    margin-right: 0;
}
#cerrarModal{
    font-size: 1rem;
    padding: .2rem;
    background-color: whitesmoke;
    border-radius: .7rem;
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;

}
.campana{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cantidadPedido {
    background-color: rgb(209, 37, 37);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 5px;
}
h1, h2{
    border-bottom: solid 3px goldenrod;
}
.separador{
    color: goldenrod;
    font-size: larger;
}
.imgPpal{
    width: 100%;
}
.imgPpalDesktop{
    display: none;
}

.subtitulo{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}
.categories{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
    list-style: none;
    align-items: center;
}
.categories li{
    border: solid 3px black;
    border-radius: 6px;
    padding: .3rem;
    transition: 0.7s;   
}
.categories li button, #abrirModal{
    border: none;
    background: none;
    transition-duration:.7s;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
.categories li:hover{
    transform: scale(1.2);
}
main{
    background-color: whitesmoke;
}
h3{
    background-color: rgb(218, 186, 107);
    padding: .5rem;
    margin: 1rem 0;
}
.productos{
    display: flex;
    flex-direction: column;
}
.precio{
    font-weight: bold;
    color: #ba9f1b;
    font-size: larger;
}
.producto{
    display: flex;
    flex-direction: column;
    margin:  1rem 1rem 0;
    padding-bottom: 1rem;
}
.iconoComprar{
    border: none;
    background: none;
    transition-duration:.7s;
    color: black;
    text-decoration: none;
}
.iconoComprar:hover{
    transform: scale(1.2);    
}
.iconoComprar img:active{
    background-color: #ba9f1b;
    border-radius: 50%;    
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.descripcion{
    border-bottom: 1px dotted black;
    padding: 1rem 0;
}
.foto{
    width: 100%;
    border: solid 3px goldenrod;
    border-radius: 6px;
}
footer{
    background-color: #DBC13E;
    text-align: center;
}
h5{
    font-size: 1rem;
    padding: .5rem 0;
}
footer p{
    padding: .3rem 0;
}
.redes img{
    padding: 0 .5rem;
}
.tarjetas{
    display: flex;
    justify-content: center;
}
.tarjetas img{
    padding: 0 1rem;
}
.pie{
    background-color: #d6c679;
    text-align: center;
}


/*Comienza el mQuery tablet*/
@media only screen and (min-width: 576px){

    .categories{
        margin: 2rem 0;
    }
    .categoriesFooter{
        margin: 0;    
    }

    .producto{
        display: grid;
        grid-template-areas: "fotoBlock info"  
                             "fotoBlock descripcion";
        column-gap: 1rem;
        margin:  1rem 1rem 0;
        padding-bottom: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr;   
    }
    .fotoBlock{
        grid-area: fotoBlock;
    }
    .info{
        grid-area: info;
        border-bottom: 1px dotted black; 
        align-self: start;      
    }
    .descripcion{
        grid-area: descripcion;
        border-bottom: none;
    }
    .medioContacto {
        display: flex;
        justify-content: center;
    }
    .medioContacto p{
        padding-left: 3rem;
    }
}
/*Comienza el mQuery desktop*/
@media only screen and (min-width: 992px){
    .imgPpalDesktop{
        display: block;
    }
    .imgPpalMobile{
        display: none;
    }
    .producto{    
        grid-template-columns: .75fr 1fr;
    }
    .productos{
        display: grid;
        column-gap: 1rem;
        margin:  1rem 1rem 0;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }
    
    .fotoBlock{
        align-self: center;
    }
}